.form-checkbox {
  &__input {
    display: none;

    &:checked + label {
      &:before {
        width: 15px;
        height: 15px;
        background-color: grey;
        position: absolute;
        left: 5px;
        content: '';
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__label {
    position: relative;
    padding-left: 35px;
    margin: 0;
    cursor: pointer;

    &:after {
      content: '';
      left: 0;
      width: 25px;
      height: 25px;
      position: absolute;
      border: 1px solid grey;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
