// Image directory
$image-directory: '../images';

// Grid
$grid-breakpoints: (
   xs: 0,
   sm: 576px,
   md: 768px,
   lg: 992px,
   xl: 1200px,
   xxl: 1400px
);

// Colors
$theme-colors: ();

// Container
$container-max-widths: (
   xxl: 1440px
);

// Gutters
$gutters: ();

// Typography
$font-family-base: sans-serif, Arial;
$font-size: 16px;

// Transition
$transition: .3s;

// Bootstrap utilities
$utilities: ();
