<ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="/">
            <span itemprop="name">главная</span>
        </a>
        <meta itemprop="position" content="0"/>
    </li>

    {% for crumb in crumbs %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{ crumb.link }}">
                <span itemprop="name">{{ crumb.name }}</span>
            </a>
            <meta itemprop="position" content="{{ loop.index }}"/>
        </li>
    {% endfor %}
</ul>
