{# Количество #}
<div class="quantity js-quantity">
    <button class="quantity__btn js-quantity__btn" data-action="remove">-</button>
    <input type="text" class="quantity__input js-quantity__input" disabled value="1">
    <button class="quantity__btn js-quantity__btn" data-action="add">+</button>
</div>
